/*
** Application Logo in a Splunk 5.0 Simple XML Document
** Recipe for when you want a logo and not a title
*/
div.AccountBar,
div.splHeader-navigation {
  background-color: #0072c6
}

.appLogoContainer {
	height: 64px;
}

.appLogoContainer .appLogo {
	width: 441px;
	height: 64px;
	background-image: url('BannerLogo.png');
	background-repeat: no-repeat;
}

.appLogoContainer h1 {
	width: 0px;
	font-size: 1px;
	color: #0072c6;
}

.appHeaderWrapper,
.appHeaderWrapper a {
  color: white;
}

/*
** Single Value - MSSP_Ops_Farm
*/
.MSSP_Ops_Farm {
  cursor: pointer;
}

.MSSP_Ops_Farm span.singleResult {
  font-style: normal;
  font-size: 64px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  color: green;
  vertical-align: top;
  margin-top: 0px;
} 

.MSSP_Ops_Farm span.singleLabel {
  font-style: normal;
  font-size: 64px;
  vertical-align: bottom;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  color: #404040;
  margin-top: 0px;
