div.MSSP_Ops_Farm {
	display: block;
	width: 100%;
	height: 125px;
	cursor: pointer;
	text-align: center;
}

div.MSSP_Ops_Farm span.single-result {
	font-style: normal;
	font-size: 64px;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	color: green;
}

div.MSSP_Ops_Farm span.after-label {
	font-style: normal;
	font-size: 64px;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	color: #404040;	
}